@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orbitron:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orbitron:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Orbitron", sans-serif;
  min-width: 100% !important;
}

tr td,
tr span {
  font-size: 1.3rem !important;
}

.section1 {
  min-height: 80vh;
}

.section1 .title-div {
  background-color: rgba(151, 137, 137, 0.5) !important;
}

h2 {
  font-size: 1.3rem;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
}

form img {
  height: 220px !important;
  border: 0.5px solid;
  border-radius: 5px;
}

.card-item {
  cursor: pointer;
  /* border-radius: 10px !important; */
  transition: transform 200ms;
  /* border-radius: 10px; */
  /* width: 200px;
  height: 200px; */
  /* margin: 0 auto; */
  /* , box-shadow 200ms ease 0s !important */
}

.card-item:hover {
  /* background: transparent; */
  /* width: 300px; */
  /* height: 300px; */
  /* transform: scaleX(0.5turn); */
  /* box-shadow: border-box; */
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05); /*#00d49F*/
  transform: scale(1.05);
  /* color: #00d49f; */
  backdrop-filter: blur(1px);
}

table {
  font-family: "Kanit", sans-serif;
}

th {
  font-weight: bold;
  font-size: 1.2rem;
}

tfoot td {
  font-size: 1.3rem;
  background-color: rgba(60, 61, 59, 0.899) !important;
}

.text-danger {
  color: rgb(255, 10, 10) !important;
  font-size: 1.6rem !important;
}

footer {
  font-family: "Kanit", sans-serif;
  font-style: italic;
  font-size: 0.8rem;
}

footer div {
  background-color: rgb(13, 13, 12);
  border-top: 0.5px solid grey;
  /* color: rgb(171, 156, 135) !important; */
  color: #979189 !important;
}

footer img {
  width: 30%;
  max-width: 45px;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

.deleteBtn {
  background: red;
  border: none;
  border-radius: 7px;
  min-height: 22px;
  min-width: 22px;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.25);
}

.editBtn {
  background: yellow;
  border: none;
  border-radius: 7px;
  min-height: 22px;
  min-width: 22px;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.25);
}

/* Media Query */

@media (max-width: 1192px) {
  form img {
    height: 160px !important;
  }

  th {
    font-size: 0.9rem;
  }
  .card-title {
    font-size: 0.9rem;
  }

  tr td,
  tr span {
    font-size: 1.1rem !important;
  }

  tfoot td {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .card-title {
    font-size: 0.8rem;
  }

  th {
    font-size: 0.8rem;
  }

  tr td,
  tr span {
    font-size: 1.1rem !important;
  }

  tfoot td {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .btn {
    font-size: smaller;
  }
}

@media (max-width: 768px) {
  form img {
    height: 250px !important;
  }
  .card-title {
    font-size: 1rem;
  }

  th {
    font-size: 0.9rem;
  }

  tr td,
  tr span {
    font-size: 0.8rem !important;
  }

  tfoot td {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1rem;
  }

  .btn {
    font-size: smaller;
  }

  .text-danger {
    font-size: 1rem !important;
  }
}

@media (max-width: 560px) {
  form img {
    height: 250px !important;
  }
  .card-title {
    font-size: 1rem;
  }

  th {
    font-size: 0.7rem;
  }

  label {
    font-size: 0.8rem;
  }

  input {
    font-size: smaller;
  }

  h2 {
    font-size: 1rem;
  }

  .btn {
    font-size: smaller;
  }
  tr td,
  tr span {
    font-size: 0.75rem !important;
  }

  .text-danger {
    font-size: 0.9rem !important;
  }

  footer {
    font-size: smaller;
  }
}
